
.form-recette {
    width: 100%; 
    padding: 0 5%; 
    margin: 20px auto;
    margin-bottom: 60px; 
}

.form-recette h2 {
    font-size: clamp(1.4rem, 5vw, 1.8rem); /* Titre fluide adapté à l'écran */
    margin-bottom: 20px;
    color: #222;
}

.form-recette form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.form-recette input,
.form-recette select,
.form-recette textarea {
    padding: 12px 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; 
    width: 100%;
    background-color: #fff;
    font-family: sans-serif;
}

.form-recette textarea {
    min-height: 100px;
    resize: vertical; 
}

.form-recette button {
    padding: 12px;
    border: none;
    background: green;
    color: white;
    border-radius: 5px;
    width: 100%; 
    max-width: 280px; 
    cursor: pointer;
    transition: all 0.3s ease;
    align-self: center; 
    font-size: 16px;
    font-weight: 600;
}

.form-recette button:hover {
    font-weight: bold;
    background: darkgoldenrod;
    color: black;
}


@media screen and (min-width: 1024px) {
    .form-recette {
        width: 70%; 
        max-width: 800px; 
        padding: 0;
        margin-bottom: 120px; 
    }

    .form-recette button {
        width: 50%; 
    }
}
