

.menu-section {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    padding: 20px 5%; 
    width: 100%;
}

.container-image {
    display: flex;
    flex-direction: column; 
    gap: 15px;
    width: 100%;
}

/* ici j'ai procédé comme ça pour protéger mes images */
.container-image img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Évite que l'image ne devienne trop géante sur mobile */
    object-fit: cover; /* Coupe proprement l'image sans la déformer */
    border-radius: 15px; 
}


@media screen and (min-width: 1024px) {
    .menu-section {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center; 
        padding: 60px 8%; 
        gap: 50px; 
    }

    .container-image {
        flex-direction: row; /* pour que les images se mettent côte à côte */
        justify-content: space-between;
        width: 50%; 
    }
}
