.about-video {
    width: 90%;          
    max-width: 1200px;   
    margin: 80px auto;   
    border-radius: 12px; 
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: auto; 
    

}

.about-video video {
    display: block; 
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width: 1024px) {
    .about-video {
        width: 85%;       
        margin: 120px auto; 
        border-radius: 20px; 
        height: auto; 
        
        
    }
}